/* .slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-active {
  padding-left: 10px;
  opacity: 0;
} */
@media all{
footer{
    padding:20px 0;

    margin-top: -100px;
    background-color:#0d5da3;
    color:white;
}

.f-basic{
display: flex;
justify-content: space-around;  
flex-wrap: wrap;
color: white;
margin: 10px;
margin-left: 40px;
margin-right: 40px;
font-size: 14px;
}

.f-basic ul{
    text-decoration: none;
    list-style-type:none;
    font-size: 16px;
}

.f-basic a{
    color: white;
}

.f-basic img{
    margin-right: 50px;
    width: 120px;
    height: 100px;
}

.f-basic a:hover{
    color:red;
}

.f-basic ul li{
text-align: center;
} 

.conf{
    text-align: center;
    font-size: 14px;
}

.conf a{
    text-decoration:underline;
    color: white;
}
.conf a:hover{
        color:red;
}

}

